body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

body {
  background-image: url(1.png);
  height:auto;
}
.nav {
  position:fixed;
  left:0px;
  top:0px;
  z-index:99;
  height:100%;
  background-color:#F21EB2;
  color:#ffe024;
  width:15.5%;
  opacity:100%;
  padding: 0px;
  margin:0px;
  float:left;
  font-family: 'century gothic', sans-serif; color: white; font-size: 25px; font-weight:bold; text-align:center; line-height:50px; margin-left:0px;
  list-style-type: none;
  }
ul {
  width:65%;
  left:30px;
  list-style-type: none;
}
/* ------------------------LINKS-------------------------- */
/* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #ffffff;
}
a{text-decoration: none;} 
::-webkit-scrollbar {
  width: 7px;
  height:1px;
}
::-webkit-scrollbar-corner{
  background: #ffe024; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffe024; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
/* abtlink ========================================================================================================================= */
html, body {height: 90%;margin-top:100px;padding-top:0px;font-family: 'Nunito', sans-serif;color: black; font-size: 20px;line-height:auto; font-weight:none; color: black; text-align:left;vertical-align:bottom;}
.thick { font-weight: 900;   text-align:center; width:100%; margin-top:0px;}
a {text-transform: lowercase;font-size: 30px;color: white;text-decoration: none;position: fixed;display: block; text-align:center;  float:left; margin-left:5px; line-height:auto; margin-right:5px;margin-top:0px;margin-bottom:0px;}
[class^="link-"] {/*removing position:fixed will make the nav normal */display: flex;margin-top:0px; text-align:center;}
.link-6 a:before, .link-6 a:after {content: '';border-bottom: solid 3px white;position: absolute;bottom: 0;width: 0;z-index:100;}
.link-6 a:before { left: 0; z-index:100;}
.link-6 a:after { right: 0; z-index:100; }
.link-6 a:hover:before, .link-6 a:hover:after {width: 50%; z-index:100;}
.link-6 a:before, .link-6 a:after { -webkit-transition: all 0.2s ease;transition: all 0.2s ease; z-index:100;}
.link-6 a:hover { -webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); transform: scale(1.15); z-index:100;}
.link-6 a { -webkit-transition: all 0.1s linear; transition: all 0.1s linear;z-index:100;} 
.link-6 {margin-bottom:48px;}
/*link ends===================================================================================================*/

.capbox1{
position:relative;
bottom:320px;
margin-top:50px;
  border:0px;
  margin-right:70px;
  float:right;
  border-color:black;
  width:84.6%;
  padding-bottom:80px;
  }
.capboxcap{
width:84.6%;
overflow:scrolls;
float:right;
}
.welcomeicon{
float:left;
margin-bottom:30px;
z-index:31;
}    
  
.smallabt{
border: 0px solid black;
margin-top:37px;
background-color:white;
}
.img{
float:right;
margin:30px;
margin-top:15px;
border: 0px dotted black;
height:170px;
width:147px;
}
.caption{
position:relative;
left:209px;
top:186px;
float:right;
margin-right:30px;
border: 0px solid black;
background-color:#0061ff;
height:30px;
color:white;
width:147px;
}
.caption p {
top:186px;
margin-bottom:500px;
}

.playheader img {
max-width:100%;
max-height:100%;
margin-top:0px;
padding-top:0px;
margin-bottom:0px;
padding-bottom:0px;
margin-left:25px;
margin-right:25px;
padding-right:25px;
}

.playheader {
 margin-top:0px;
padding-top:0px;
margin-bottom:0px;
padding-bottom:0px;
margin-right:25px;
padding-right:25px;

}
.minip p {
text-align:justify;
color:#000000;
top:123px;
padding-top:0px;
margin-top:0px;
 text-align:left;
font-weight:100;
font-size:20px;
 font-family: 'Nunito', sans-serif;
}

a:link {
  color: #F21EB2;
}

/* visited link */
a:visited {
  color: #F21EB2;
}

/* mouse over link */
a:hover {
  color: #F21EB2;
}

/* selected link */
a:active {
  color: #F21EB2;
  

}

.minip{
bottom:123px;
text-align:left;
margin-top:27px;
padding-top:5px;
}

.mininote p{
font-size:12px;
color:#0061ff;
padding:0px;
margin:0px;
text-align:left;

}

.anti{
text-align:center;
}


.choo img{
width:100%;
max-height:150px;
margin-top:15px;
}
h1 {
color:#ffe024;
float:left;
margin-left:-120px;
margin-top:20px;
margin-bottom:0px;
padding-bottom:0px;
z-index:30;
}
h3 {
color:#ffe024;
font-weight:bold;
margin:0px;
margin-bottom:0px;
text-indent: 30px;
font-size:30px;
padding:none;
float:left;
display:flex;
left:-900px;
z-index:999;
}
p {
margin-top:0px;
padding-top:0px;
vertical-align:center;
color:black;
margin:30px;
text-align:left;
font-weight:100;
font-size:20px;
 font-family: 'Nunito', sans-serif;
}

.capbox2{
position:relative;
bottom:290px;
  border:3px;
  margin-right:70px;
  float:right;
  border-color:black;
  margin-bottom:70px;
  width:84.6%;
  }
.updateicon{
float:left;
margin-bottom:-20px;
z-index:31;
}    
  
.updates{
border: 1px solid black;
margin-top:37px;
background-color:white;
max-height:300px;
max-width:100.0%;
width:104.6%;
overflow:scroll; 
}

.updates h3{
margin-right:10px;
}

.coolicon{
float:left;
margin-top:73px;
padding-bottom:0px;
margin-bottom:0px;
z-index:31;
}    
  
.coolsites{
border: 1px solid black;
margin-top:110px;
background-color:white;
max-height:300px;
max-width:100.0%;
width:104.6%;
}


.hey{
position:relative;
z-index:999;
padding:0px;
top:-230px;
height:auto;
margin:0px;
float:right;
width:85.6%;
} 
.hey img {
width:98%;


}

.moreimg{
position:relative;
z-index:999;
padding:0px;
top:10px;
height:auto;
margin:0px;
float:left;
width:85.6%;
text-align: center; 
} 
.pika {
z-index:998;
top:0px;
padding-top:12px;
position:fixed;
padding-left:10px;
margin-bottom:200px;
}
.nav::-webkit-scrollbar {
  width: 5px;
  height:0px;
  background-color: solid black;
}
.nav::-webkit-scrollbar-thumb {
background-color: #ffe024;
outline: 0px solid slategrey;
}
.class_name { vertical-align: middle; }