@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    background-image: url("./assets/img/darkhorse_bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}
div.content{

    width: 50%;
    height:fit-content;
    position: absolute;
    top: 148px;
    left: 25%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 3;
}

div.header {
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #F21EB2;
    margin: 0%;
    padding: 0%;
    z-index: 5;
}

div.navbar {
    top: 75px;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #F21EB2;
    z-index: 5;
}

div.navbar ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    display:inline-table;
}

div.navbar li {
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
    font-size: large;
    font-weight: 800;
    display:inline;
    
}

div.navbar li:last-child{
    border-right: none;
}

div.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: color 1s;
    text-transform: uppercase;
}

div.navbar li a:hover {
  color: #13000d;
}